<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Skolsystem</title>
	<style type="text/css">
		body { font-family: sans-serif; }
	</style>
</head>
<body>
	<form method="post" action="/search">
		<input type="search" name="q">
		<input type="submit" value="search">
	</form>
	<%=	yield %>
</body>
</html>
