
	<table>
		<thead>
			<th>klass</th>
			<th>name</th>
			<th>surname</th>
			<th>pnr</th>
		</thead>
		<tbody>
			<tr>
				<td><%= @klass.name %></td>
				<td><%= @student.first_name %></td>
				<td><%= @student.last_name %></td>
				<td><%= @student.pnr %></td>
			</tr>
		</tbody>
	</table>

